appdirs==1.4.3
click==7.1.2
mne==0.24.1
numpy==1.24.4
pandas==1.3.4
pyEDFlib==0.1.34
pylsl==1.16.1
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.11.1
tornado==6.4.1
sentry_sdk==2.8.0
sphinx-rtd-theme==1.3.0
sphinx==7.2.4
